certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
decorator==4.4.1
deepviewrt==2.3.17.post3
future==0.18.2
idna==2.8
networkx==2.4
numpy==1.18.1
opencv-python==4.1.1.26
pathlib==1.0.1
pkg-resources==0.0.0
pycparser==2.19
pygame==1.9.6
pynput==1.6.6
python-xlib==0.26
requests==2.22.0
six==1.14.0
typing==3.7.4.1
urllib3==1.25.8
